
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Ccontainer{
    @apply max-w-[1398px] mx-auto 
}
.topcenter{
    @apply flex items-center
}
.p{
    @apply text-whitec font-Poppins font-semibold text-[12px]
}
.p2{
    @apply text-color-secondary font-Poppins font-semibold text-[12px]
}
.p3{
    @apply  text-whitec font-Poppins font-normal text-[13px]
}
.p4{
    @apply font-Poppins text-[13px] text-blackc leading-[130%]
}
.p5{
    @apply font-Poppins font-light text-[18px] text-blackc leading-[130%]
}
.title{
    @apply font-Poppins font-semibold text-[22px] text-blackc 
}
.title2{
    @apply font-Poppins font-semibold text-[32px] text-blackc 
}
.h2{
    @apply font-Poppins font-medium text-blackc text-[32px]
}
.h3{
    @apply font-Poppins font-bold text-whitec text-[22px]
}
.h4{
    @apply font-Poppins font-bold text-lg text-blackc
}
.h5{
    @apply font-Poppins text-color-secondary font-bold text-sm
}
.active{
    @apply font-Poppins text-sm text-color-3rd
}



/* -----------------------ant design---------------------------------------------------------- */
:where(.css-dev-only-do-not-override-ni1kz0).ant-tabs-top > .ant-tabs-nav::before, :where(.css-dev-only-do-not-override-ni1kz0).ant-tabs-bottom > .ant-tabs-nav::before, :where(.css-dev-only-do-not-override-ni1kz0).ant-tabs-top > div > .ant-tabs-nav::before, :where(.css-dev-only-do-not-override-ni1kz0).ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    content: '';
  }